@{
    ViewData["Title"] = "about";
}


<!--==============================
   Breadcumb
   ============================== -->
<div class="breadcumb-wrapper breadcumb-layout1 background-image link-inherit  mb-30" data-vs-img="../assets/img/breadcumb-bg-1-1.jpg" data-overlay="black" data-opacity="6">
    <div class="container z-index-common">
        <div class="breadcumb-content text-center pt-65 pt-lg-140 pb-95 pb-lg-175">
            <h1 class="breadcumb-title sec-title1 text-white my-0">About Us</h1>
            <ul class="breadcumb-menu-style1 bg-white">
                <li><a href="index.html"><i class="fal fa-home text-theme"></i>Home</a></li>
                <li class="active">About Us</li>
            </ul>
        </div>
    </div>
</div>
<!--==============================
  About Area
==============================-->
<section class="vs-about-wrapper vs-about-layout5 py-lg-150 py-60">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-6 col-xl-7">
                <div class="about-image">
                    <img src="../assets/img/about-img-5-1.jpg" alt="About Image" class="w-100">
                </div>
            </div>
            <div class="col-lg-5">
                <div class="about-content text-center px-20 px-xl-60 py-30 py-xl-100 mt-30 mt-xl-100">
                    <p class="h3 text-font3 mb-10 text-theme">Our Brave</p>
                    <h2 class="sec-title1 about-title mb-10 mb-md-20">About Us</h2>
                    <p class="about-text mb-xl-55">Compellingly engage backend technology and 2.0 strategic theme areas. Distinctively simplify world-class portals through global human capital. Holisticly expedite multimedia based materials and end-to-end architectures. Continually expedite magnetic synergy without front-end benefits.</p>
                </div>
            </div>
        </div>
    </div>
</section>

